$bootstrap-sass-asset-helper: false !default;
// $title-color: #1e272e;
// $title-color: #0c092d;
$title-color: #192a56;
// $title-color: #130f40;
// $title-color: #1e2a31;

// $base-color: #f26522;
$base-color: #1e90ff;
$theme-one: #0f2d92;
// $base-color: #16a6d4;
// $theme-one: #16a6d4;
$theme-two: #1f3366;
$theme-three: #1f3366;
$theme-four: #8e3ff0;
$theme-five: #381087;
$body-color :#555555;
$light-color :#ddd;
// $primary-color: #459adb;
$border-color: #e5e5e5;
$before-bg: #300173;
$before-bg-2: #9c7003;
$ash-color:aliceblue;
$lallu-color : #e883ae;
$dark-color: #0c0026;
$fafa: #fafafa;
// $section-bg : #cdebff;
// $section-bg : #f0f5fc;
$section-bg : #f5f7fd;
$body-bg : #fff;
$theme-bg : -webkit-gradient(linear,left top,right top,from(#0f2d92),to(#203392));
$theme-bg-2 : -webkit-linear-gradient(-90deg, #598eff 0%, #203392 45%, #090a0a 100%);
$primary-bg : -webkit-linear-gradient(-90deg, #071a20 0%, #01141a 45%, #021013 100%);
$primary-bg-2 : -webkit-linear-gradient(90deg, #071a20 0%, #01141a 45%, #021013 100%);

// social-media icons color
$whatsapp: #25d366;
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$pinterest: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$star: #e9ba17;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #dec32b;
$nell: #212fb4;
$navy: #d8e0f3;
$placeholder: #a1a1a2;
$name-dec: #3f485d;
$futbol : #db3776;
$vimeo : #1ab7ea;
//== Typography

// font-family
$Body:'Nunito', sans-serif;
$body:'Nunito', sans-serif;

$Heading: 'Nunito', sans-serif;
$heading: 'Nunito', sans-serif;

// font-size
$fs-base: 16px;
$fs-large: 18px; 
$fs-small: 14px;
$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 28px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 18px;

$fs-sm-h1: 70px;
$fs-sm-h2: 48px;
$fs-sm-h3: 36px;
$fs-sm-h4: 30px;
$fs-sm-h5: 24px;
$fs-sm-h6: 22px;

 //Description line height
 $lh-p: 26px; //28px; 
 //  transition
$transition: all ease 0.3s;

//CMN COLORS
$primary-color: #7367f0;
$success-color: #28c76f;
$secondary-color: #868e96;
$danger-color: #ea5455;
$warning-color: #f99f0b;
$info-color: #1e9ff2;
$dark-color: #192a56;
$white-color: #fff;
$black-color: #000;
$light-color: #ddd;