html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: $body-color;
    line-height: $lh-p;
    overflow-x: hidden;
    font-family: $body;
    background: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    color: $title-color;
    font-family: $heading;
    a {
        color: $title-color;
        &:hover {
            color: $base-color;
        }
    }
}
h1 {
    font-size: $fs-h1;
}
h2 {
    font-size: $fs-h2;
    margin-top: -7px;
}
h3 {
    font-size: $fs-h3;
    margin-top: -6px;
}
h4 {
    font-size: $fs-h4;
    margin-top: -5px;
}
h5 {
    font-size: $fs-h5;
    margin-top: -4px;
}
h6 {
    font-size: $fs-h6;
    margin-top: -3px;
}
p {
    margin-top: -8px;
    &:last-child {
        margin-bottom: -7px !important;
    }
}
@include breakpoint (md) {
    h1 {
        font-size: 76px;
        line-height: 86px;
        margin-top: -16px;
    }
    h2 {
        font-size: 54px;
        line-height: 64px;
        margin-top: -7px;
    }
    h3 {
        font-size: 36px;
        line-height: 46px;
        margin-top: -4px;
    }
    h4 {
        font-size: $fs-sm-h4;
        margin-top: -5px;
    }
    h5 {
        font-size: $fs-sm-h5;
        margin-top: -4px;
    }
    h6 {
        font-size: $fs-sm-h6;
        margin-top: -3px;
    }
}
a {
    display: inline-block;
    @include transition($transition);
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        padding: 5px 0;
    }
}

.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg_fixed {
    background-attachment: fixed;
}
.top__center {
    background-position: top center;
}